fastapi
uvicorn[standard]
motor
beanie
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
httpx
celery[redis]
redis
cryptography
sentence-transformers
huggingface_hub[hf_xet]
transformers==4.56.2
datasets
evaluate
accelerate
torch
sentencepiece