@import "tailwindcss";

.hide-scrollbar {
  /* Hide scrollbar for all browsers */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

/* For Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

